body
{
    min-height: 100vh;
    background: linear-gradient(var(--black),var(--background));
    font-family: 'Marcellus';
    color: #fff;
    overflow-x: hidden;
}
code
{
    font-family: 'Marcellus';
    color: var(--red);
}