:root
{
    --navy-blue: #162334;
    --black: #151515;
    --white: #fff;
    --text-light: #fff;
    //--background:#162334;
    --background: #161625;
    --logo-bg: #fff;
    --github:#f9b208;
    --youtube:#ff005c;
    --linkedin:aqua;
    --codepen: #c0e218
}