:root
{
    --navy-blue: #162334;
    --black: #151515;
    --white: #fff;
    --text-light: #fff;
    --background: #161625;
    --background-light:#292946;
    --logo-bg: #fff;

    --red:#ff005c;
    --yellow:#f9b208;
    --green: #c0e218;
    --bright-red:#fa4659;
    --light-blue:aqua;

    --github:#f9b208;
    --youtube:#ff005c;
    --linkedin:aqua;
    --codepen: #c0e218;
    --contact:#fa4659;
    --bar-color:aqua;
}