nav
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.logo{
    color: #fff; 
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 2px;
}

.logo .l-name
{
    color: #151515;
    padding: 5px 10px;
    background-color: var(--logo-bg);
    border-radius: 2px;
    transition: 250ms;
}
.logo .l-name:hover
{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li
{
    list-style: none;
    margin-left: 20px;
}
nav ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: 250ms;
}
nav ul li .fa
{
    background-color: var(--contact);
    color: #fff;
    box-shadow: 0 0 5px var(--contact),
                0 0 25px var(--contact),
                0 0 50px var(--contact),
                0 0 200px var(--contact);
    transition: 500ms;
    animation: contactAnimation 1.25s ease infinite;
    
    &:hover
    {
        background-color: var(--contact);
        color:#fff;
    }
}
nav ul li a:hover
{
    background: #fff;
    color: var(--black);
}

@keyframes contactAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width:900px)
{
    nav
    {
        height:9em;
        font-size: 0.9em;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
@media (max-width:600px)
{
    nav
    {
        height:8em;
        font-size: 0.9em;
        flex-direction: column;
        justify-content: space-between;
    }
    
}