section
{
    position: relative;
    width:100%;
    height: 100vh;  
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--background),transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.heading
{
    position: relative;
}
#text
{
    color: #fff;
    font-size: 100px;
    font-weight: 400;
    line-height:1.05em;
    
}
#sub-text
{
    color: #fff;
    font-size: 45px;
    font-weight: 400;
    line-height:1.22em; 
}

.btn
{   
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    transition: 250ms;
    cursor: pointer
}
.project-btn
{
    background-color: #fff;
    color: #151515;
}

.project-btn:hover
{
    transform: scale(1.05);
    color: aqua;
    background-color: transparent;
    border: 1px solid aqua;
}

.about
{
  position: relative;
  padding: 10%;
  background:var(--background);  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.about h2
{
    text-align: center;
    font-size: 3.5em;
    color: #fff;
}
.divider
{
    margin-top:30px;
}


.about .about-text
{
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top:20px;
    font-size: 1.05em;
    color: #fff;
    box-shadow: 5px 5px 25px rgba(0, 0, 0,0.5);
    overflow: hidden;
    cursor: pointer;
}
.about .about-text::before
{
    content: '';
    position: absolute;
    left: -50vw;
    top:0;
    height: 100%;
    width: 200px;
    background-color: rgba(255,255,255,0.3);
    transform: skew(-45deg);
    transition: 3.5s ease-out;
}
.about .about-text:hover::before
{
    left:100vw;
}

.link-container
{
   width: 100%;
   margin-top: 30px;
   display: flex;
   justify-content: center;
   //align-items: center;
}

.link-container a
{
    text-decoration: none;
    text-transform: uppercase;
    min-width: 200px;
    margin: 0px 10px;
    padding: 25px 30px;
    text-align: center;
    letter-spacing: 4px;
    transition: 0.25s;
    font-weight: bold;
    background: var(--background);
}

.link-container .github-btn
{
    color: var(--github);
    border: 2px solid var(--github);
    &:hover{
        color: var(--background);
        background: var(--github);
        box-shadow: 0 0 5px var(--github),
                    0 0 25px var(--github),
                    0 0 50px var(--github),
                    0 0 200px var(--github);
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
}

.link-container .youtube-btn
{
    color:var(--youtube);
    border: 2px solid var(--youtube);
    &:hover{
        color:var(--background);
        background: var(--youtube);
        box-shadow: 0 0 5px var(--youtube),
                    0 0 25px var(--youtube),
                    0 0 50px var(--youtube),
                    0 0 200px var(--youtube);
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
}

@media (max-width:1080px)
{
    .about
    {
        padding: 8%;
    }

    #text
    {
        font-size: 70px;
        line-height: 0.9em;
        margin-bottom: 0.3em;
    }
    #sub-text
    {
        font-size: 25px;     
    }
    .about .about-text::before
    {
        transition: 2s ease-out;
    }
    
}
@media (max-width: 750px)
{
    section
    {
        padding: 90px;
    }

    #divider1
    {
        width: 70%;
    }
    #text
    {
        font-size: 60px;
    }
    #sub-text
    {
        font-size: 17px;
    }
    .link-container
    {
        flex-direction: column;
        width: 70%;
    }
    .link-container a
    {
        margin: 10px 0;
    }
    
}