@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins&display=swap");
:root {
  --navy-blue: #162334;
  --black: #151515;
  --white: #fff;
  --text-light: #fff;
  --background: #161625;
  --background-light:#292946;
  --logo-bg: #fff;
  --red:#ff005c;
  --yellow:#f9b208;
  --green: #c0e218;
  --bright-red:#fa4659;
  --light-blue:aqua;
  --github:#f9b208;
  --youtube:#ff005c;
  --linkedin:aqua;
  --codepen: #c0e218;
  --contact:#fa4659;
  --bar-color:aqua;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 2px;
}

.logo .l-name {
  color: #151515;
  padding: 5px 10px;
  background-color: var(--logo-bg);
  border-radius: 2px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.logo .l-name:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav ul li:last-child {
  border-radius: 20px;
  background-color: var(--contact);
  color: #fff;
  -webkit-box-shadow: 0 0 5px var(--contact), 0 0 25px var(--contact), 0 0 50px var(--contact), 0 0 200px var(--contact);
          box-shadow: 0 0 5px var(--contact), 0 0 25px var(--contact), 0 0 50px var(--contact), 0 0 200px var(--contact);
  -webkit-transition: 500ms;
  transition: 500ms;
}

nav ul li:not(:last-child) a:hover {
  background: #fff;
  color: var(--black);
}

@media (max-width: 1080px) {
  nav {
    height: 9em;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 750px) {
  nav {
    font-size: 0.9em;
  }
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--black)), to(var(--background)));
  background: linear-gradient(var(--black), var(--background));
  font-family: 'Marcellus';
  color: #fff;
  overflow-x: hidden;
}

code {
  font-family: 'Marcellus';
  color: var(--red);
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--background)), to(transparent));
  background: linear-gradient(to top, var(--background), transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.heading {
  position: relative;
}

#text {
  color: #fff;
  font-size: 100px;
  font-weight: 400;
  line-height: 1.05em;
}

#sub-text {
  color: #fff;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.22em;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
}

.project-btn {
  background-color: #fff;
  color: #151515;
}

.project-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: aqua;
  background-color: transparent;
  border: 1px solid aqua;
}

.about {
  position: relative;
  padding: 10%;
  background: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about h2 {
  text-align: center;
  font-size: 3.5em;
  color: #fff;
}

.divider {
  margin-top: 30px;
}

.about .about-text {
  position: relative;
  text-align: center;
  padding: 50px;
  margin-top: 20px;
  font-size: 1.05em;
  color: #fff;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  cursor: pointer;
}

.about .about-text::before {
  content: '';
  position: absolute;
  left: -100vw;
  top: 0;
  height: 100%;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  -webkit-transition: 3.5s ease-out;
  transition: 3.5s ease-out;
}

.about .about-text:hover::before {
  left: 100vw;
}

.link-container {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-container a {
  text-decoration: none;
  text-transform: uppercase;
  min-width: 200px;
  margin: 0px 10px;
  padding: 25px 30px;
  text-align: center;
  letter-spacing: 4px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-weight: bold;
  background: var(--background);
}

.link-container .github-btn {
  color: var(--github);
  border: 2px solid var(--github);
}

.link-container .github-btn:hover {
  color: var(--background);
  background: var(--github);
  -webkit-box-shadow: 0 0 5px var(--github), 0 0 25px var(--github), 0 0 50px var(--github), 0 0 200px var(--github);
          box-shadow: 0 0 5px var(--github), 0 0 25px var(--github), 0 0 50px var(--github), 0 0 200px var(--github);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.link-container .youtube-btn {
  color: var(--youtube);
  border: 2px solid var(--youtube);
}

.link-container .youtube-btn:hover {
  color: var(--background);
  background: var(--youtube);
  -webkit-box-shadow: 0 0 5px var(--youtube), 0 0 25px var(--youtube), 0 0 50px var(--youtube), 0 0 200px var(--youtube);
          box-shadow: 0 0 5px var(--youtube), 0 0 25px var(--youtube), 0 0 50px var(--youtube), 0 0 200px var(--youtube);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

@media (max-width: 1080px) {
  .about {
    padding: 8%;
  }
  #text {
    font-size: 70px;
    line-height: 0.9em;
    margin-bottom: 0.3em;
  }
  #sub-text {
    font-size: 25px;
  }
  .about .about-text::before {
    -webkit-transition: 2s ease-out;
    transition: 2s ease-out;
  }
}

@media (max-width: 750px) {
  section {
    padding: 90px;
  }
  #divider1 {
    width: 70%;
  }
  #text {
    font-size: 60px;
  }
  #sub-text {
    font-size: 17px;
  }
  .link-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .link-container a {
    margin: 10px 0;
  }
  .about .about-text::before {
    opacity: 0;
  }
}

.about .card-container {
  width: 100%;
  min-height: 500px;
  padding: 5%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .card-container .card {
  width: 45%;
  margin: 1em 0;
  background: var(--background-light);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 15px #000;
          box-shadow: 5px 5px 15px #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about .card-container .card:hover {
  -webkit-box-shadow: 10px 10px 20px #000;
          box-shadow: 10px 10px 20px #000;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.card-container .card .divider {
  margin-top: 0;
  width: 15em;
}

.about .card-container .card h1 {
  text-align: center;
}

.about .card-container .card h1,
.about .card-container .card .item {
  text-transform: uppercase;
  width: 100%;
  font-size: 0.8em;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
}

.about .card-container .card h1 {
  font-size: 2em;
}

.about .card-container .card .item .item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .card-container .card .item .item-bar-bg {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
  background: var(--background-light);
  -webkit-box-shadow: inset 3px 3px 7px #171727, inset -3px -3px 7px #393957;
          box-shadow: inset 3px 3px 7px #171727, inset -3px -3px 7px #393957;
}

.about .card-container .card .item .item-bar-bg .item-bar {
  position: relative;
  background: var(--bar-color);
  background: -webkit-gradient(linear, left top, right bottom, from(#020024), color-stop(0%, #00ffdd), to(#0082ff));
  background: linear-gradient(to bottom right, #020024 0%, #00ffdd 0%, #0082ff 100%);
  height: 20px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: scaleAnimation 3s ease-in-out;
          animation: scaleAnimation 3s ease-in-out;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.about .card-container .card .item .item-bar-bg .item-bar:hover {
  background: #FB1ABB;
  background: -webkit-gradient(linear, left top, right bottom, from(#FB1ABB), to(#5225BB));
  background: linear-gradient(to bottom right, #FB1ABB, #5225BB);
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    transfrom: scaleX(1);
  }
}

@keyframes scaleAnimation {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    transfrom: scaleX(1);
  }
}

@media (max-width: 900px) {
  .about .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
  .about .card-container .card {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .about .card-container {
    padding: 20px 0;
  }
  .card-container .card .divider {
    width: 12em;
  }
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10000;
  width: 5em;
  height: 7em;
  background: url("../images/madara.png");
  background-size: cover;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px var(--light-blue));
  -webkit-filter: drop-shadow(0px 0px 10px var(--light-blue));
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll-top:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media (max-width: 900px) {
  .scroll-top {
    width: 4em;
    height: 6em;
  }
}

footer {
  width: 100%;
  min-height: 40vh;
  padding: 30px 100px;
  background: var(--background);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
}

footer .logo-footer {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.contact {
  color: #fff;
  padding: 20px 0;
  width: 100%;
}

.contact ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact ul li {
  margin: 0px 0.5em;
}

/*===========================*/
/*===========================*/
.contact ul li:first-child {
  display: none;
}

/*===========================*/
/*===========================*/
.contact ul li .fa {
  margin-right: 7px;
  color: aqua;
}

.copyright h6 {
  color: #fff;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .contact ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 600px) {
  footer .logo-footer {
    font-size: 4.5vw;
  }
  .contact ul li {
    font-size: 3.5vw;
  }
  .copyright {
    width: 80vw;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */